@layer theme, base, mui, components, utilities;
@import "tailwindcss";

@theme {
  --color-highlight-300: #eaf2ff;
  --color-highlight-400: #b4dbff;
  --color-highlight-500: #6fbaff;
  --color-highlight-600: #2897ff;
  --color-highlight-700: #006ffd;

  --color-light-300: #ffffff;
  --color-light-400: #f8f9fe;
  --color-light-500: #e8e9f1;
  --color-light-600: #d4d6dd;
  --color-light-700: #c5c6cc;

  --color-dark-300: #8f9098;
  --color-dark-400: #71727a;
  --color-dark-500: #494a50;
  --color-dark-600: #2f3036;
  --color-dark-700: #1f2024;

  --color-success-light: #e7f4f8;
  --color-success-base: #3ac0a0;
  --color-success-dark: #298267;

  --color-warning-light: #fff4e4;
  --color-warning-base: #ffb37c;
  --color-warning-dark: #e86339;

  --color-error-light: #ffe2e5;
  --color-error-base: #ff616d;
  --color-error-dark: #ed3241;
}
